
# CS5228 Project - Team not found

In [1]:
# import packages

import numpy as np
import pandas as pd
from src.utils import *

## Load Data

In [2]:
path = "./"

original_train_df = pd.read_csv(path + "data/train.csv")
original_test_df = pd.read_csv(path + "data/test.csv")

In [3]:
# duplicate dataset

train_df = original_train_df.copy()
test_df = original_test_df.copy()

In [4]:
print(train_df.shape)
print(test_df.shape)

(26048, 23)
(7500, 22)

In [5]:
train_df.head()

,listing_id,name,street,type,model,market_segment,type_of_area,bedrooms,bathrooms,district,...,lat,lng,tenure,built_year,no_of_units,area_size,eco_category,accessibility,date_listed,price
0,6998418,seascape,57 cove way,condominium,condominium,ocr,strata,3,4.0,4,...,1.239337,103.837487,leasehold/99 years,2011.0,151.0,2336.0,uncategorized,guarded,2021-05-04,5390000.0
1,2046604,la maison,10 moulmein rise,apartment,apartment,ocr,strata,3,3.0,11,...,1.319533,103.847030,freehold,1999.0,24.0,1259.0,uncategorized,guarded,2021-05-07,2310000.0
2,7563513,viva,2 suffolk walk,condominium,condominium,ocr,strata,4,3.0,11,...,1.315656,103.844445,freehold,2012.0,235.0,1959.0,uncategorized,guarded,2021-06-30,5279500.0
3,3071445,urban treasures,205 jalan eunos,condominium,condominium,ocr,strata,3,2.0,14,...,1.329367,103.905791,freehold,NaN,237.0,883.0,uncategorized,guarded,2022-01-02,1843600.0
4,9667539,infini at east coast,east coast road,apartment,apartment,ocr,strata,3,3.0,15,...,1.309176,103.911352,freehold,NaN,36.0,1066.0,uncategorized,guarded,2021-12-24,2262700.0

In [6]:
print(train_df.dtypes)

listing_id          int64
name               object
street             object
type               object
model              object
market_segment     object
type_of_area       object
bedrooms           object
bathrooms         float64
district            int64
region             object
planning_area      object
subszone           object
lat               float64
lng               float64
tenure             object
built_year        float64
no_of_units       float64
area_size         float64
eco_category       object
accessibility      object
date_listed        object
price             float64
dtype: object

## Data Cleaning

### Check null value

In [7]:
# combine train and test

train_test_df = pd.concat([train_df, test_df], axis=0)

print(compute_null_count(original_train_df))
print(compute_null_count(original_test_df))

listing_id            0
name                  0
street                0
type                  0
model              1280
market_segment        0
type_of_area          0
bedrooms            404
bathrooms          1236
district              0
region                0
planning_area         0
subszone              0
lat                   0
lng                   0
tenure              287
built_year        10043
no_of_units        1042
area_size             2
eco_category          0
accessibility         0
date_listed           0
price                 0
dtype: int64
listing_id           0
name                 0
street               0
type                 0
model              388
market_segment       0
type_of_area         0
bedrooms           118
bathrooms          337
district             0
region               0
planning_area        0
subszone             0
lat                  0
lng                  0
tenure              85
built_year        2875
no_of_units        326
area_size            0
eco_category         0
accessibility        0
date_listed          0
dtype: int64

#### type

conflicts:  

**type:aprt; model:condo**  =>  align with type

**type:condo; model:aprt** => google search

In [8]:
# training

type_df = train_df
type_df = type_df[type_df["type"] != type_df["model"]]
type_df_a = type_df[type_df["model"] == "condominium"]


# display(type_df_a.sort_values("name"))

# by checking property in the same name, these should be aligned with type
train_df.loc[
    (train_df["type"] == "apartment") & (train_df["model"] == "condominium"), "model"
] = "apartment"

In [9]:
# type_df = train_df
# type_df = type_df[type_df['type'] != type_df['model']]
# type_df_a = type_df[type_df['model'] == 'condominium']
# display(type_df_a.sort_values('name'))

In [10]:
type_df_b = type_df[type_df["model"] == "apartment"]
display(type_df_b)
# by see other property in spottiswoode residences, it is condo
train_df.loc[(train_df["name"] == "spottiswoode residences"), "model"] = "condominium"
# by Google search , tan quee lan street is apartment.
train_df.loc[(train_df["name"] == "tan quee lan street"), "type"] = "apartment"

,listing_id,name,street,type,model,market_segment,type_of_area,bedrooms,bathrooms,district,...,lat,lng,tenure,built_year,no_of_units,area_size,eco_category,accessibility,date_listed,price
404,8117494,spottiswoode residences,48 spottiswoode park road,condominium,apartment,ocr,strata,2,2.0,2,...,1.275271,103.836832,freehold,2013.0,351.0,936.0,uncategorized,guarded,2022-01-05,2310000.0
20095,3352937,tan quee lan street,tan quee lan street,condominium,apartment,ocr,strata,1,1.0,7,...,1.298002,103.856935,leasehold/99 years,NaN,NaN,474.0,uncategorized,guarded,2021-10-20,1415700.0

In [11]:
# type_df = train_df
# type_df = type_df[type_df['type'] != type_df['model']]
# type_df_b = type_df[type_df['model'] == 'apartment']
# type_df_b

In [12]:
# testing

type_df = test_df
type_df = type_df[type_df["type"] != type_df["model"]]
type_df_a = type_df[type_df["model"] == "condominium"]
display(type_df_a.sort_values("name"))


test_df.loc[test_df["name"] == "the poiz residences", "model"] = "apartment"

,listing_id,name,street,type,model,market_segment,type_of_area,bedrooms,bathrooms,district,...,subszone,lat,lng,tenure,built_year,no_of_units,area_size,eco_category,accessibility,date_listed
4038,7642307,the poiz residences,12 meyappa chettiar road,apartment,condominium,ocr,strata,2,NaN,13,...,potong pasir,1.331545,103.866996,leasehold/99 years,2019.0,731.0,753.0,uncategorized,guarded,2022-01-03

In [13]:
# type_df = test_df
# type_df = type_df[type_df['type'] != type_df['model']]
# type_df_a = type_df[type_df['model'] == 'condominium']
# display(type_df_a.sort_values('name'))

In [14]:
type_df_b = type_df[type_df["model"] == "apartment"]
display(type_df_b.sort_values("name"))


test_df.loc[test_df["name"] == "haus on handy", "model"] = "condominium"

,listing_id,name,street,type,model,market_segment,type_of_area,bedrooms,bathrooms,district,...,subszone,lat,lng,tenure,built_year,no_of_units,area_size,eco_category,accessibility,date_listed
993,7474544,haus on handy,30 haus on handy,condominium,apartment,ocr,strata,1,NaN,9,...,dhoby ghaut,1.300136,103.84675,leasehold/99 years,NaN,188.0,452.0,uncategorized,guarded,2022-01-02

In [15]:
# type_df = test_df
# type_df = type_df[type_df['type'] != type_df['model']]
# type_df_b = type_df[type_df['model'] == 'apartment']
# display(type_df_b.sort_values('name'))

#### model 

# todo: merge models

In [16]:
# training

print(compute_null_count(train_df, ["model"]))

# fill null with the same property name
train_df = fill_missing_value_by_group_neighbor(train_df, "model", "name")
print(compute_null_count(train_df, ["model"]))


# by type
train_df["model"] = train_df["model"].fillna(train_df["type"])
print(compute_null_count(train_df, ["model"]))

model    1279
dtype: int64
model    24
dtype: int64
model    0
dtype: int64

In [17]:

# merge
final_groups = ['apartment', 'condominium', 'executive condominium','landed']
landed = ['townhouse', 'strata terrace', 'duplex']

train_df.loc[train_df['model'].isin(landed), 'model'] = 'landed'

train_df.loc[~train_df['model'].isin(final_groups), 'model'] = train_df['type']

train_df[['model']].value_counts()

model
apartment                13859
condominium              11480
executive condominium      654
landed                      55
dtype: int64

In [18]:
# testing
print(compute_null_count(test_df, ["model"]))


# by name
test_df = fill_missing_value_by_group_neighbor(test_df, "model", "name")
print(compute_null_count(test_df, ["model"]))


# by type
test_df["model"] = test_df["model"].fillna(test_df["type"])
print(compute_null_count(test_df, ["model"]))

model    387
dtype: int64
model    20
dtype: int64
model    0
dtype: int64

In [19]:
# merge
final_groups = ['apartment', 'condominium', 'executive condominium','landed']
landed = ['townhouse', 'strata terrace', 'duplex']

test_df.loc[test_df['model'].isin(landed), 'model'] = 'landed'

test_df.loc[~test_df['model'].isin(final_groups), 'model'] = test_df['type']

test_df[['model']].value_counts()

model
apartment                3978
condominium              3335
executive condominium     179
landed                      8
dtype: int64

#### area size

In [20]:
# area_size

# fill null by median
train_df.loc[train_df["area_size"].isnull(), "area_size"] = train_df[
    "area_size"
].median()

In [21]:
# test code

df = pd.DataFrame(
    [["a", 6.2, 1], ["b", 0.0, None], ["b", 1.5, 6], ["c", 1.6, 7], ["a", 2.0, None]]
)

df.columns = ["k", "g", "value"]

display(df)

# df = fill_missing_value_by_group_neighbor(df, 'value', 'k')

df["value"] = df["value"].fillna(df["k"])

display(df)

   k    g  value
0  a  6.2    1.0
1  b  0.0    NaN
2  b  1.5    6.0
3  c  1.6    7.0
4  a  2.0    NaN

   k    g value
0  a  6.2   1.0
1  b  0.0     b
2  b  1.5   6.0
3  c  1.6   7.0
4  a  2.0     a

#### bedroom

In [22]:
# training

# break into bedrooms and additional rooms
print(compute_null_count(train_df, ["bedrooms"]))

# fill null according to area size
train_df = fill_missing_value_by_neighbor(train_df, "bedrooms", "area_size")

print(compute_null_count(train_df, ["bedrooms"]))


# split to two columns
train_df[["bedrooms", "additional_rooms"]] = (
    train_df["bedrooms"].str.split("+", expand=True).fillna(0)
)
train_df[["bedrooms", "additional_rooms"]] = train_df[
    ["bedrooms", "additional_rooms"]
].astype("int")

bedrooms    404
dtype: int64
bedrooms    0
dtype: int64

In [23]:
# testing

print(compute_null_count(test_df, ["bedrooms"]))

# fill null according to area size
test_df = fill_missing_value_by_neighbor(test_df, "bedrooms", "area_size")
# print(compute_null_count(test_df, ['bedrooms']))

test_df[["bedrooms"]] = test_df[["bedrooms"]].fillna(1)

# split to to columns
test_df[["bedrooms", "additional_rooms"]] = test_df["bedrooms"].str.split(
    "+", expand=True
)
test_df[["bedrooms", "additional_rooms"]] = test_df[
    ["bedrooms", "additional_rooms"]
].replace(r"", np.nan)
test_df[["bedrooms", "additional_rooms"]] = test_df[
    ["bedrooms", "additional_rooms"]
].fillna(0)
test_df[["bedrooms", "additional_rooms"]] = test_df[
    ["bedrooms", "additional_rooms"]
].astype("int")

print(compute_null_count(test_df, ["bedrooms", "additional_rooms"]))

bedrooms    118
dtype: int64
bedrooms            0
additional_rooms    0
dtype: int64

#### bathroom

In [24]:
# training
print(compute_null_count(train_df, ["bathrooms"]))

# fill null by bedrooms
train_df = fill_missing_value_by_neighbor(train_df, "bathrooms", "bedrooms")
print(compute_null_count(train_df, ["bathrooms"]))

bathrooms    1236
dtype: int64
bathrooms    0
dtype: int64

In [25]:
# testing
print(compute_null_count(test_df, ["bathrooms"]))

test_df = fill_missing_value_by_neighbor(test_df, "bathrooms", "bedrooms")
print(compute_null_count(test_df, ["bathrooms"]))

bathrooms    337
dtype: int64
bathrooms    0
dtype: int64

#### tenure

https://www.propertyguru.com.sg/property-guides/singapore-freehold-vs-leasehold-which-is-better-9520

In [26]:
# training

# fill null by name
print(compute_null_count(train_df, ["tenure"]))
train_df = fill_missing_value_by_group_neighbor(train_df, "tenure", "name")
print(compute_null_count(train_df, ["tenure"]))

# fill null by street
train_df = fill_missing_value_by_group_neighbor(train_df, "tenure", "street")
print(compute_null_count(train_df, ["tenure"]))

# by mode
train_df["tenure"] = train_df["tenure"].fillna(train_df[["tenure"]].mode().iloc[0, 0])
print(compute_null_count(train_df, ["tenure"]))

# convert to binary columns freehold

tenure    287
dtype: int64
tenure    72
dtype: int64
tenure    21
dtype: int64
tenure    0
dtype: int64

In [27]:
# change freehold to 999 years
train_df.loc[train_df["tenure"] == "freehold", "tenure"] = "999 years"


freehold = train_df["tenure"].str.extract("(\d+)").astype("int")

freehold[freehold <= 99] = 0
freehold[freehold > 99] = 1

train_df = train_df.rename(columns={"tenure": "freehold"})
train_df["freehold"] = freehold

In [28]:
# testing
# fill null by name
print(compute_null_count(test_df, ["tenure"]))
test_df = fill_missing_value_by_group_neighbor(test_df, "tenure", "name")
print(compute_null_count(test_df, ["tenure"]))

# by street
test_df = fill_missing_value_by_group_neighbor(test_df, "tenure", "street")
print(compute_null_count(test_df, ["tenure"]))

# by mode
test_df["tenure"] = test_df["tenure"].fillna(
    train_test_df[["tenure"]].mode().iloc[0, 0]
)
print(compute_null_count(test_df, ["tenure"]))

tenure    85
dtype: int64
tenure    36
dtype: int64
tenure    13
dtype: int64
tenure    0
dtype: int64

In [29]:
# change freehold to 999
test_df.loc[test_df["tenure"] == "freehold", "tenure"] = "999 years"

freehold = test_df["tenure"].str.extract("(\d+)").astype("int")


freehold[freehold <= 99] = 0
freehold[freehold > 99] = 1

test_df = test_df.rename(columns={"tenure": "freehold"})
test_df["freehold"] = freehold


test_df[["freehold"]].value_counts()

freehold
0           4374
1           3126
dtype: int64

#### built year

In [30]:
# training

# fill null
print(compute_null_count(train_df, ["built_year"]))

# by name
train_df = fill_missing_value_by_group_neighbor(train_df, "built_year", "name")
print(compute_null_count(train_df, ["built_year"]))

# filled by 'unknown'
train_df["built_year"] = train_df["built_year"].fillna(-1)
print(compute_null_count(train_df, ["built_year"]))

built_year    10043
dtype: int64
built_year    2684
dtype: int64
built_year    0
dtype: int64

In [31]:
# testing

# fill null
print(compute_null_count(test_df, ["built_year"]))

# by name
test_df = fill_missing_value_by_group_neighbor(test_df, "built_year", "name")
print(compute_null_count(test_df, ["built_year"]))

# filled by 'unknown'
test_df["built_year"] = test_df["built_year"].fillna(-1)
print(compute_null_count(test_df, ["built_year"]))

built_year    2875
dtype: int64
built_year    1333
dtype: int64
built_year    0
dtype: int64

#### no_of_units

In [32]:
# training
print(compute_null_count(train_df, ["no_of_units"]))


# by name
train_df = fill_missing_value_by_group_neighbor(train_df, "no_of_units", "name")
print(compute_null_count(train_df, ["no_of_units"]))


# by mean
train_df["no_of_units"] = train_df["no_of_units"].fillna(np.round(train_df["no_of_units"].mean(), 1))
print(compute_null_count(train_df, ["no_of_units"]))

no_of_units    1042
dtype: int64
no_of_units    1015
dtype: int64
no_of_units    0
dtype: int64

In [33]:
# testing
print(compute_null_count(test_df, ["no_of_units"]))


# by name
test_df = fill_missing_value_by_group_neighbor(test_df, "no_of_units", "name")
print(compute_null_count(test_df, ["no_of_units"]))


# by mean
test_df["no_of_units"] = test_df["no_of_units"].fillna(
    np.round(train_test_df["no_of_units"].mean(), 1)
)
print(compute_null_count(test_df, ["no_of_units"]))

no_of_units    326
dtype: int64
no_of_units    312
dtype: int64
no_of_units    0
dtype: int64

#### date_listed

In [34]:
train_df["date_listed"] = pd.to_datetime(train_df["date_listed"])
test_df["date_listed"] = pd.to_datetime(test_df["date_listed"])

In [35]:
# check null
compute_null_count(train_df)

listing_id          0
name                0
street              0
type                0
model               0
market_segment      0
type_of_area        0
bedrooms            0
bathrooms           0
district            0
region              0
planning_area       0
subszone            0
lat                 0
lng                 0
freehold            0
built_year          0
no_of_units         0
area_size           0
eco_category        0
accessibility       0
date_listed         0
price               0
additional_rooms    0
dtype: int64

In [36]:
compute_null_count(test_df)

listing_id          0
name                0
street              0
type                0
model               0
market_segment      0
type_of_area        0
bedrooms            0
bathrooms           0
district            0
region              0
planning_area       0
subszone            0
lat                 0
lng                 0
freehold            0
built_year          0
no_of_units         0
area_size           0
eco_category        0
accessibility       0
date_listed         0
additional_rooms    0
dtype: int64

### Check duplicates

In [37]:
print(np.sum(train_df["listing_id"].duplicated()))
print(np.sum(test_df["listing_id"].duplicated()))

0
0

### Drop useless columns

In [38]:
print(train_df["market_segment"].value_counts())
print(train_df["type_of_area"].value_counts())
print(train_df["eco_category"].value_counts())
print(train_df["accessibility"].value_counts())

ocr    26048
Name: market_segment, dtype: int64
strata    26048
Name: type_of_area, dtype: int64
uncategorized    26048
Name: eco_category, dtype: int64
guarded    26048
Name: accessibility, dtype: int64

In [39]:
print(test_df["market_segment"].value_counts())
print(test_df["type_of_area"].value_counts())
print(test_df["eco_category"].value_counts())
print(test_df["accessibility"].value_counts())

ocr    7500
Name: market_segment, dtype: int64
strata    7500
Name: type_of_area, dtype: int64
uncategorized    7500
Name: eco_category, dtype: int64
guarded    7500
Name: accessibility, dtype: int64

In [40]:
# remove only one values and too many categories

to_drop_columns = [
    "market_segment",
    "type_of_area",
    "eco_category",
    "accessibility",
] + ["listing_id", "name", "street", "subszone"]

In [41]:
train_df = train_df.drop(columns=to_drop_columns)
train_df.shape

(26048, 16)

In [42]:
test_df = test_df.drop(columns=to_drop_columns)
test_df.shape

(7500, 15)

In [43]:
train_df.dtypes

type                        object
model                       object
bedrooms                     int64
bathrooms                  float64
district                     int64
region                      object
planning_area               object
lat                        float64
lng                        float64
freehold                     int64
built_year                 float64
no_of_units                float64
area_size                  float64
date_listed         datetime64[ns]
price                      float64
additional_rooms             int64
dtype: object

In [44]:
# split categorical and numerical features
# cat_feature_names = [
#     train_df.dtypes.index[i]
#     for i in range(train_df.shape[1])
#     if train_df.dtypes.values[i] == object
# ]
# num_feature_names = [
#     train_df.dtypes.index[i]
#     for i in range(train_df.shape[1])
#     if train_df.dtypes.values[i] != object
# ]

## Data pre-processing

In [45]:
from sklearn import preprocessing

#### type

encode categorical feature  
apartment: 1  
condo: 2

In [46]:
# training
train_df.loc[train_df["type"] == "apartment", "type"] = 1
train_df.loc[train_df["type"] == "condominium", "type"] = 2

train_df[["type"]].head()

  type
0    2
1    1
2    2
3    2
4    1

In [47]:
# testing
test_df.loc[test_df["type"] == "apartment", "type"] = 1
test_df.loc[test_df["type"] == "condominium", "type"] = 2

test_df[["type"]].head()

  type
0    2
1    2
2    1
3    2
4    2

#### model  

encode categorical feature

In [48]:
# training
le = preprocessing.LabelEncoder()
train_df["model"] = le.fit_transform(train_df["model"])
train_df[["model"]].value_counts()

model
0        13859
1        11480
2          654
3           55
dtype: int64

In [49]:
# testing
test_df["model"] = le.transform(test_df["model"])
test_df[["model"]].value_counts()

model
0        3978
1        3335
2         179
3           8
dtype: int64

#### region

In [50]:
le = preprocessing.LabelEncoder()
train_df["region"] = le.fit_transform(train_df["region"])
test_df["region"] = le.transform(test_df["region"])

#### planning area

In [51]:
le = preprocessing.LabelEncoder()

unique_values = np.append(train_df["planning_area"].unique(), 'unknown')
print(unique_values)
# training 
le.fit(unique_values)
train_df["planning_area"] = le.transform(train_df["planning_area"])


# testing
test_df.loc[~test_df["planning_area"].isin(unique_values), 'planning_area'] = 'unknown'
test_df["planning_area"] = le.transform(test_df["planning_area"])

['southern islands' 'novena' 'bedok' 'sembawang' 'bukit batok' 'sengkang'
 'downtown core' 'newton' 'tampines' 'kallang' 'bukit merah'
 'choa chu kang' 'bukit timah' 'outram' 'queenstown' 'river valley'
 'singapore river' 'toa payoh' 'hougang' 'tanglin' 'pasir ris' 'geylang'
 'museum' 'clementi' 'serangoon' 'jurong east' 'orchard' 'yishun'
 'marine parade' 'bukit panjang' 'jurong west' 'ang mo kio' 'rochor'
 'bishan' 'punggol' 'woodlands' 'mandai' 'changi' 'unknown']

#### built_year 

# todo convert to **years since built year**

In [52]:
from datetime import date
  
# creating the date object of today's date
todays_date = date.today()
  
# printing todays date
print("Current date: ", todays_date)
  
# fetching the current year, month and day of today
current_year = todays_date.year
current_month = todays_date.month

print(current_year)

Current date:  2022-03-08
2022

In [53]:
# training
train_df.loc[train_df['built_year'] > 0, 'built_year']= float(current_year) - train_df['built_year']

print(train_df[['built_year']].describe())
train_df = train_df.rename(columns={"built_year": "since_built_year"})


# testing
test_df.loc[test_df['built_year'] > 0, 'built_year']= float(current_year) - test_df['built_year']

print(test_df[['built_year']].describe())

test_df = test_df.rename(columns={"built_year": "since_built_year"})

         built_year
count  26048.000000
mean      23.903025
std       30.047675
min       -1.000000
25%        5.000000
50%        9.000000
75%       37.000000
max      223.000000
        built_year
count  7500.000000
mean     21.305867
std      30.439879
min      -1.000000
25%       4.000000
50%       8.000000
75%      22.000000
max     223.000000

#### date_listed

In [54]:

today = pd.Timestamp(todays_date)


# training

train_df['date_listed'] = today.to_period('M') - train_df['date_listed'].dt.to_period('M')

train_df['date_listed'] = train_df['date_listed'].astype('str')
train_df['date_listed'] = train_df["date_listed"].str.extract("(\d+)").astype("int")

train_df = train_df.rename(columns={"date_listed": "since_listing_month"})


# testing

test_df['date_listed'] = today.to_period('M') - test_df['date_listed'].dt.to_period('M')

test_df['date_listed'] = test_df['date_listed'].astype('str')
test_df['date_listed'] = test_df["date_listed"].str.extract("(\d+)").astype("int")

test_df = test_df.rename(columns={"date_listed": "since_listing_month"})

In [55]:
train_df = train_df[np.append(train_df.columns[:-2], ['additional_rooms', 'price'])]

In [56]:
train_df.head()

train_df.to_csv('./data/clean_train.csv')

In [57]:
test_df.head()
test_df.to_csv('./data/clean_test.csv')