
# CS5228 Project - Team not found

In [931]:
# import packages

import numpy as np
import pandas as pd
from src.utils import *

## Load Data

In [932]:
path = "./"

original_train_df = pd.read_csv(path + "data/train.csv")
original_test_df = pd.read_csv(path + "data/test.csv")

In [933]:
# duplicate dataset

train_df = original_train_df.copy()
test_df = original_test_df.copy()

In [934]:
print(train_df.shape)
print(test_df.shape)

(26048, 23)
(7500, 22)

In [935]:
train_df.head()

,listing_id,name,street,type,model,market_segment,type_of_area,bedrooms,bathrooms,district,...,lat,lng,tenure,built_year,no_of_units,area_size,eco_category,accessibility,date_listed,price
0,6998418,seascape,57 cove way,condominium,condominium,ocr,strata,3,4.0,4,...,1.239337,103.837487,leasehold/99 years,2011.0,151.0,2336.0,uncategorized,guarded,2021-05-04,5390000.0
1,2046604,la maison,10 moulmein rise,apartment,apartment,ocr,strata,3,3.0,11,...,1.319533,103.847030,freehold,1999.0,24.0,1259.0,uncategorized,guarded,2021-05-07,2310000.0
2,7563513,viva,2 suffolk walk,condominium,condominium,ocr,strata,4,3.0,11,...,1.315656,103.844445,freehold,2012.0,235.0,1959.0,uncategorized,guarded,2021-06-30,5279500.0
3,3071445,urban treasures,205 jalan eunos,condominium,condominium,ocr,strata,3,2.0,14,...,1.329367,103.905791,freehold,NaN,237.0,883.0,uncategorized,guarded,2022-01-02,1843600.0
4,9667539,infini at east coast,east coast road,apartment,apartment,ocr,strata,3,3.0,15,...,1.309176,103.911352,freehold,NaN,36.0,1066.0,uncategorized,guarded,2021-12-24,2262700.0

In [936]:
print(train_df.dtypes)

listing_id          int64
name               object
street             object
type               object
model              object
market_segment     object
type_of_area       object
bedrooms           object
bathrooms         float64
district            int64
region             object
planning_area      object
subszone           object
lat               float64
lng               float64
tenure             object
built_year        float64
no_of_units       float64
area_size         float64
eco_category       object
accessibility      object
date_listed        object
price             float64
dtype: object

## Data Cleaning

### Check null value

In [937]:
# combine train and test

train_test_X = pd.concat([train_df.iloc[:,:-1], test_df], axis=0)

print(train_df.shape)
print(train_test_X.shape)

print(compute_null_count(original_train_df))
print(compute_null_count(original_test_df))

(26048, 23)
(33548, 22)
listing_id            0
name                  0
street                0
type                  0
model              1280
market_segment        0
type_of_area          0
bedrooms            404
bathrooms          1236
district              0
region                0
planning_area         0
subszone              0
lat                   0
lng                   0
tenure              287
built_year        10043
no_of_units        1042
area_size             2
eco_category          0
accessibility         0
date_listed           0
price                 0
dtype: int64
listing_id           0
name                 0
street               0
type                 0
model              388
market_segment       0
type_of_area         0
bedrooms           118
bathrooms          337
district             0
region               0
planning_area        0
subszone             0
lat                  0
lng                  0
tenure              85
built_year        2875
no_of_units        326
area_size            0
eco_category         0
accessibility        0
date_listed          0
dtype: int64

#### type

conflicts:  

**type:aprt; model:condo**  =>  align with type

**type:condo; model:aprt** => google search

In [938]:
########## train ################

type_df = train_df
type_df = type_df[type_df["type"] != type_df["model"]]
type_df_a = type_df[type_df["model"] == "condominium"]


# display(type_df_a.sort_values("name"))

# by checking property in the same name, these conflicts should be aligned with type
train_df.loc[
    (train_df["type"] == "apartment") & (train_df["model"] == "condominium"), "model"
] = "apartment"

In [939]:
# type_df = train_df
# type_df = type_df[type_df['type'] != type_df['model']]
# type_df_a = type_df[type_df['model'] == 'condominium']
# display(type_df_a.sort_values('name'))

In [940]:
type_df_b = type_df[type_df["model"] == "apartment"]
display(type_df_b)
# by see other property in spottiswoode residences, it is condo
train_df.loc[(train_df["name"] == "spottiswoode residences"), "model"] = "condominium"
# by Google search , tan quee lan street is apartment.
train_df.loc[(train_df["name"] == "tan quee lan street"), "type"] = "apartment"

,listing_id,name,street,type,model,market_segment,type_of_area,bedrooms,bathrooms,district,...,lat,lng,tenure,built_year,no_of_units,area_size,eco_category,accessibility,date_listed,price
404,8117494,spottiswoode residences,48 spottiswoode park road,condominium,apartment,ocr,strata,2,2.0,2,...,1.275271,103.836832,freehold,2013.0,351.0,936.0,uncategorized,guarded,2022-01-05,2310000.0
20095,3352937,tan quee lan street,tan quee lan street,condominium,apartment,ocr,strata,1,1.0,7,...,1.298002,103.856935,leasehold/99 years,NaN,NaN,474.0,uncategorized,guarded,2021-10-20,1415700.0

In [941]:
# type_df = train_df
# type_df = type_df[type_df['type'] != type_df['model']]
# type_df_b = type_df[type_df['model'] == 'apartment']
# type_df_b

In [942]:
########## test ################

type_df = test_df
type_df = type_df[type_df["type"] != type_df["model"]]
type_df_a = type_df[type_df["model"] == "condominium"]
display(type_df_a.sort_values("name"))


test_df.loc[test_df["name"] == "the poiz residences", "model"] = "apartment"

,listing_id,name,street,type,model,market_segment,type_of_area,bedrooms,bathrooms,district,...,subszone,lat,lng,tenure,built_year,no_of_units,area_size,eco_category,accessibility,date_listed
4038,7642307,the poiz residences,12 meyappa chettiar road,apartment,condominium,ocr,strata,2,NaN,13,...,potong pasir,1.331545,103.866996,leasehold/99 years,2019.0,731.0,753.0,uncategorized,guarded,2022-01-03

In [943]:
# type_df = test_df
# type_df = type_df[type_df['type'] != type_df['model']]
# type_df_a = type_df[type_df['model'] == 'condominium']
# display(type_df_a.sort_values('name'))

In [944]:
type_df_b = type_df[type_df["model"] == "apartment"]
display(type_df_b.sort_values("name"))


test_df.loc[test_df["name"] == "haus on handy", "model"] = "condominium"

,listing_id,name,street,type,model,market_segment,type_of_area,bedrooms,bathrooms,district,...,subszone,lat,lng,tenure,built_year,no_of_units,area_size,eco_category,accessibility,date_listed
993,7474544,haus on handy,30 haus on handy,condominium,apartment,ocr,strata,1,NaN,9,...,dhoby ghaut,1.300136,103.84675,leasehold/99 years,NaN,188.0,452.0,uncategorized,guarded,2022-01-02

In [945]:
# type_df = test_df
# type_df = type_df[type_df['type'] != type_df['model']]
# type_df_b = type_df[type_df['model'] == 'apartment']
# display(type_df_b.sort_values('name'))

#### model

In [946]:
########## train ################

print(compute_null_count(train_df, ["model"]))

# fill null by name
train_df = fill_missing_value_by_group_neighbor(train_df, "model", "name")
print(compute_null_count(train_df, ["model"]))

# fill null by street
train_df = fill_missing_value_by_group_neighbor(train_df, "model", "street")
print(compute_null_count(train_df, ["model"]))


# by type
train_df["model"] = train_df["model"].fillna(train_df["type"])
print(compute_null_count(train_df, ["model"]))

model    1279
dtype: int64
model    24
dtype: int64
model    15
dtype: int64
model    0
dtype: int64

In [947]:

# merge
final_groups = ['apartment', 'condominium', 'executive condominium','landed']
landed = ['townhouse', 'strata terrace', 'duplex']

train_df.loc[train_df['model'].isin(landed), 'model'] = 'landed'

train_df.loc[~train_df['model'].isin(final_groups), 'model'] = train_df['type']

train_df[['model']].value_counts()

model
apartment                13864
condominium              11475
executive condominium      654
landed                      55
dtype: int64

In [948]:
########## test ################

N, d = test_df.shape
train_test_X = pd.concat([train_df.iloc[:, :-1], test_df], axis=0).copy().reset_index(drop=True)

print(train_df.shape)
print(train_test_X.shape)



print(compute_null_count(test_df, ["model"]))

# fill null by name
train_test_X = fill_missing_value_by_group_neighbor(train_test_X, "model", "name") 
print(compute_null_count(train_test_X, ["model"]))

# # by street
train_test_X = fill_missing_value_by_group_neighbor(train_test_X, "model", "street")
print(compute_null_count(train_test_X, ["model"]))


test_df = train_test_X.iloc[-N:, :].copy()




# by type
test_df["model"] = test_df["model"].fillna(test_df["type"])
print(compute_null_count(test_df, ["model"]))


print(test_df.shape)

(26048, 23)
(33548, 22)
model    387
dtype: int64
model    3
dtype: int64
model    2
dtype: int64
model    0
dtype: int64
(7500, 22)

In [949]:
# merge
final_groups = ['apartment', 'condominium', 'executive condominium','landed']
landed = ['townhouse', 'strata terrace', 'duplex']

test_df.loc[test_df['model'].isin(landed), 'model'] = 'landed'

test_df.loc[~test_df['model'].isin(final_groups), 'model'] = test_df['type']

test_df[['model']].value_counts()

model
apartment                3964
condominium              3334
executive condominium     183
landed                     19
dtype: int64

#### area size

In [950]:
# area_size

########## train ################

# fill null by median
train_df.loc[train_df["area_size"].isnull(), "area_size"] = train_df[
    "area_size"
].median()

In [951]:
# test code

df = pd.DataFrame(
    [["a", 6.2, 1], ["b", 0.0, None], ["b", 1.5, 6], ["c", 1.6, 7], ["a", 2.0, None]]
)

df.columns = ["k", "g", "value"]

display(df)

# df = fill_missing_value_by_group_neighbor(df, 'value', 'k')

df["value"] = df["value"].fillna(df["k"])

display(df)

   k    g  value
0  a  6.2    1.0
1  b  0.0    NaN
2  b  1.5    6.0
3  c  1.6    7.0
4  a  2.0    NaN

   k    g value
0  a  6.2   1.0
1  b  0.0     b
2  b  1.5   6.0
3  c  1.6   7.0
4  a  2.0     a

#### bedroom

In [952]:
########## train ################

# break into bedrooms and additional rooms
print(compute_null_count(train_df, ["bedrooms"]))

# fill null according to area size
train_df = fill_missing_value_by_neighbor(train_df, "bedrooms", "area_size")

print(compute_null_count(train_df, ["bedrooms"]))

bedrooms    404
dtype: int64
bedrooms    0
dtype: int64

In [953]:
########## test ################

N, d = test_df.shape
train_test_X = pd.concat([train_df.iloc[:, :-1], test_df], axis=0).copy().reset_index(drop=True)

print(train_df.shape)
print(train_test_X.shape)

print(compute_null_count(test_df, ["bedrooms"]))
# fill null according to area size
test_df = fill_missing_value_by_neighbor(train_test_X, "bedrooms", "area_size").iloc[-N:, :].copy()
print(compute_null_count(test_df, ['bedrooms']))


print(test_df.shape)

(26048, 23)
(33548, 22)
bedrooms    118
dtype: int64
bedrooms    0
dtype: int64
(7500, 22)

In [954]:
# split

########## train ################
# # split to two columns
train_df[["bedrooms", "additional_rooms"]] = (
    train_df["bedrooms"].str.split("+", expand=True).fillna(0)
)

train_df[["bedrooms", "additional_rooms"]] = train_df[
    ["bedrooms", "additional_rooms"]
].astype("int")

print(compute_null_count(train_df, ["bedrooms", "additional_rooms"]))


train_df = train_df[np.append(train_df.columns[:-2], ['additional_rooms', 'price'])]

bedrooms            0
additional_rooms    0
dtype: int64

In [955]:

########## test ################
# split to to columns

test_df[["bedrooms", "additional_rooms"]] = (
    test_df["bedrooms"].str.split("+", expand=True).fillna(0)
)


# # convert empty string to null
test_df.loc[test_df["additional_rooms"] == '', 'additional_rooms'] = np.nan 


# fill null by 0
test_df[["bedrooms", "additional_rooms"]] = test_df[
    ["bedrooms", "additional_rooms"]
].fillna(0)

# convert type to int
test_df[["bedrooms", "additional_rooms"]] = test_df[
    ["bedrooms", "additional_rooms"]
].astype("int")

# print()
print(compute_null_count(test_df, ["bedrooms", "additional_rooms"]))

bedrooms            0
additional_rooms    0
dtype: int64

#### bathroom

In [956]:
########## train ################
print(compute_null_count(train_df, ["bathrooms"]))

# fill null by bedrooms
train_df = fill_missing_value_by_neighbor(train_df, "bathrooms", "bedrooms")
print(compute_null_count(train_df, ["bathrooms"]))

bathrooms    1236
dtype: int64
bathrooms    0
dtype: int64

In [957]:
########## test ################
print(compute_null_count(test_df, ["bathrooms"]))

N, d = test_df.shape
train_test_X = pd.concat([train_df.iloc[:, :-1], test_df], axis=0).copy().reset_index(drop=True)

print(train_df.shape)
print(train_test_X.shape)


test_df = fill_missing_value_by_neighbor(train_test_X, "bathrooms", "bedrooms").iloc[-N:, :].copy()
print(compute_null_count(test_df, ["bathrooms"]))


print(test_df.shape)

bathrooms    337
dtype: int64
(26048, 24)
(33548, 23)
bathrooms    0
dtype: int64
(7500, 23)

#### tenure

https://www.propertyguru.com.sg/property-guides/singapore-freehold-vs-leasehold-which-is-better-9520

In [958]:
########## train ################

# fill null by name
print(compute_null_count(train_df, ["tenure"]))
train_df = fill_missing_value_by_group_neighbor(train_df, "tenure", "name")
print(compute_null_count(train_df, ["tenure"]))

# fill null by street
train_df = fill_missing_value_by_group_neighbor(train_df, "tenure", "street")
print(compute_null_count(train_df, ["tenure"]))

# by mode
train_df["tenure"] = train_df["tenure"].fillna(train_df[["tenure"]].mode().iloc[0, 0])
print(compute_null_count(train_df, ["tenure"]))

tenure    287
dtype: int64
tenure    72
dtype: int64
tenure    21
dtype: int64
tenure    0
dtype: int64

In [959]:
########## test ################

N, d = test_df.shape
train_test_X = pd.concat([train_df.iloc[:, :-1], test_df], axis=0).copy().reset_index(drop=True)



# fill null by name
print(compute_null_count(test_df, ["tenure"]))
# test_df = fill_missing_value_by_group_neighbor(test_df, "tenure", "name")

train_test_X = fill_missing_value_by_group_neighbor(train_test_X, "tenure", "name") 
print(compute_null_count(train_test_X, ["tenure"]))

# # by street
train_test_X = fill_missing_value_by_group_neighbor(train_test_X, "tenure", "street")
print(compute_null_count(train_test_X, ["tenure"]))

# by mode
train_test_X['tenure'] = train_test_X["tenure"].fillna(
    train_test_X["tenure"].mode().iloc[0]
)


test_df = train_test_X.iloc[-N:, :].copy()
print(compute_null_count(test_df, ["tenure"]))

tenure    85
dtype: int64
tenure    15
dtype: int64
tenure    11
dtype: int64
tenure    0
dtype: int64

In [960]:
########## train ################
# change freehold to 999 years
train_df.loc[train_df["tenure"] == "freehold", "tenure"] = "999 years"

# get year number
freehold = train_df["tenure"].str.extract("(\d+)").astype("int")

freehold[freehold <= 99] = 0
freehold[freehold > 99] = 1

train_df = train_df.rename(columns={"tenure": "freehold"})
train_df["freehold"] = freehold

print(compute_null_count(train_df, ["freehold"]))

train_df['freehold'].value_counts()

freehold    0
dtype: int64

0    15557
1    10491
Name: freehold, dtype: int64

In [961]:

########## test ################
# change freehold to 999

test_df.loc[test_df["tenure"] == "freehold", "tenure"] = "999 years"

freehold = test_df["tenure"].str.extract("(\d+)").astype("int")


freehold[freehold <= 99] = 0
freehold[freehold > 99] = 1

test_df = test_df.rename(columns={"tenure": "freehold"})
test_df["freehold"] = freehold


test_df[["freehold"]].value_counts()

freehold
0           4379
1           3121
dtype: int64

#### built year

In [962]:
########## train ################

# fill null
print(compute_null_count(train_df, ["built_year"]))

# by name
train_df = fill_missing_value_by_group_neighbor(train_df, "built_year", "name")
print(compute_null_count(train_df, ["built_year"]))

# by street
train_df = fill_missing_value_by_group_neighbor(train_df, "built_year", "street")
print(compute_null_count(train_df, ["built_year"]))

# filled by 'unknown'
train_df["built_year"] = train_df["built_year"].fillna(-1)
print(compute_null_count(train_df, ["built_year"]))

built_year    10043
dtype: int64
built_year    2684
dtype: int64
built_year    1360
dtype: int64
built_year    0
dtype: int64

In [963]:
########## test ################

N, d = test_df.shape
train_test_X = pd.concat([train_df.iloc[:, :-1], test_df], axis=0).copy().reset_index(drop=True)



# fill null by name
print(compute_null_count(test_df, ["built_year"]))

# by name
train_test_X = fill_missing_value_by_group_neighbor(train_test_X, "built_year", "name") 
print(compute_null_count(train_test_X, ["built_year"]))

# by street
train_test_X = fill_missing_value_by_group_neighbor(train_test_X, "built_year", "street") 
print(compute_null_count(train_test_X, ["built_year"]))


test_df = train_test_X.iloc[-N:, :].copy()

# filled by 'unknown'
test_df["built_year"] = test_df["built_year"].fillna(-1)
print(compute_null_count(test_df, ["built_year"]))

built_year    2875
dtype: int64
built_year    24
dtype: int64
built_year    17
dtype: int64
built_year    0
dtype: int64

#### no_of_units

In [964]:
########## train ################
print(compute_null_count(train_df, ["no_of_units"]))


# by name
train_df = fill_missing_value_by_group_neighbor(train_df, "no_of_units", "name")
print(compute_null_count(train_df, ["no_of_units"]))

# by street
train_df = fill_missing_value_by_group_neighbor(train_df, "no_of_units", "street")
print(compute_null_count(train_df, ["no_of_units"]))


# by mean
train_df["no_of_units"] = train_df["no_of_units"].fillna(np.round(train_df["no_of_units"].mean(), 1))
print(compute_null_count(train_df, ["no_of_units"]))

no_of_units    1042
dtype: int64
no_of_units    1015
dtype: int64
no_of_units    505
dtype: int64
no_of_units    0
dtype: int64

In [965]:
########## test ################



N, d = test_df.shape
train_test_X = pd.concat([train_df.iloc[:, :-1], test_df], axis=0).copy().reset_index(drop=True)



# fill null by name
print(compute_null_count(test_df, ["no_of_units"]))

# by name
train_test_X = fill_missing_value_by_group_neighbor(train_test_X, "no_of_units", "name") 
print(compute_null_count(train_test_X, ["no_of_units"]))

# by street
train_test_X = fill_missing_value_by_group_neighbor(train_test_X, "no_of_units", "street") 
print(compute_null_count(train_test_X, ["no_of_units"]))


test_df = train_test_X.iloc[-N:, :].copy()



# # by mean
test_df["no_of_units"] = test_df["no_of_units"].fillna(
    np.round(train_test_df["no_of_units"].mean(), 1)
)
print(compute_null_count(test_df, ["no_of_units"]))

no_of_units    326
dtype: int64
no_of_units    26
dtype: int64
no_of_units    18
dtype: int64
no_of_units    0
dtype: int64

#### date_listed

In [966]:
train_df["date_listed"] = pd.to_datetime(train_df["date_listed"])
test_df["date_listed"] = pd.to_datetime(test_df["date_listed"])

In [967]:
# check null
compute_null_count(train_df)

listing_id          0
name                0
street              0
type                0
model               0
market_segment      0
type_of_area        0
bedrooms            0
bathrooms           0
district            0
region              0
planning_area       0
subszone            0
lat                 0
lng                 0
freehold            0
built_year          0
no_of_units         0
area_size           0
eco_category        0
accessibility       0
date_listed         0
additional_rooms    0
price               0
dtype: int64

In [968]:
compute_null_count(test_df)

listing_id          0
name                0
street              0
type                0
model               0
market_segment      0
type_of_area        0
bedrooms            0
bathrooms           0
district            0
region              0
planning_area       0
subszone            0
lat                 0
lng                 0
freehold            0
built_year          0
no_of_units         0
area_size           0
eco_category        0
accessibility       0
date_listed         0
additional_rooms    0
dtype: int64

### Check duplicates

In [969]:
print(np.sum(train_df["listing_id"].duplicated()))
print(np.sum(test_df["listing_id"].duplicated()))

0
0

### Drop useless columns

In [970]:
print(train_df["market_segment"].value_counts())
print(train_df["type_of_area"].value_counts())
print(train_df["eco_category"].value_counts())
print(train_df["accessibility"].value_counts())

ocr    26048
Name: market_segment, dtype: int64
strata    26048
Name: type_of_area, dtype: int64
uncategorized    26048
Name: eco_category, dtype: int64
guarded    26048
Name: accessibility, dtype: int64

In [971]:
print(test_df["market_segment"].value_counts())
print(test_df["type_of_area"].value_counts())
print(test_df["eco_category"].value_counts())
print(test_df["accessibility"].value_counts())

ocr    7500
Name: market_segment, dtype: int64
strata    7500
Name: type_of_area, dtype: int64
uncategorized    7500
Name: eco_category, dtype: int64
guarded    7500
Name: accessibility, dtype: int64

In [972]:
# remove only one values and too many categories

to_drop_columns = [
    "market_segment",
    "type_of_area",
    "eco_category",
    "accessibility",
] + ["listing_id", "name", "street", "subszone"]

In [973]:
train_df = train_df.drop(columns=to_drop_columns)
train_df.shape

(26048, 16)

In [974]:
test_df = test_df.drop(columns=to_drop_columns)
test_df.shape

(7500, 15)

In [975]:
train_df.dtypes

type                        object
model                       object
bedrooms                     int64
bathrooms                  float64
district                     int64
region                      object
planning_area               object
lat                        float64
lng                        float64
freehold                     int64
built_year                 float64
no_of_units                float64
area_size                  float64
date_listed         datetime64[ns]
additional_rooms             int64
price                      float64
dtype: object

In [976]:
# split categorical and numerical features
# cat_feature_names = [
#     train_df.dtypes.index[i]
#     for i in range(train_df.shape[1])
#     if train_df.dtypes.values[i] == object
# ]
# num_feature_names = [
#     train_df.dtypes.index[i]
#     for i in range(train_df.shape[1])
#     if train_df.dtypes.values[i] != object
# ]

## Data pre-processing

In [977]:
from sklearn import preprocessing

#### type

encode categorical feature  
apartment: 1  
condo: 2

In [978]:
# training
train_df.loc[train_df["type"] == "apartment", "type"] = 1
train_df.loc[train_df["type"] == "condominium", "type"] = 2

train_df[["type"]].head()

  type
0    2
1    1
2    2
3    2
4    1

In [979]:
# testing
test_df.loc[test_df["type"] == "apartment", "type"] = 1
test_df.loc[test_df["type"] == "condominium", "type"] = 2

test_df[["type"]].head()

      type
26048    2
26049    2
26050    1
26051    2
26052    2

#### model  

encode categorical feature

In [980]:
# training
le = preprocessing.LabelEncoder()
train_df["model"] = le.fit_transform(train_df["model"])
train_df[["model"]].value_counts()

model
0        13864
1        11475
2          654
3           55
dtype: int64

In [981]:
# testing
test_df["model"] = le.transform(test_df["model"])
test_df[["model"]].value_counts()

model
0        3964
1        3334
2         183
3          19
dtype: int64

#### region

In [982]:
le = preprocessing.LabelEncoder()
train_df["region"] = le.fit_transform(train_df["region"])
test_df["region"] = le.transform(test_df["region"])

#### planning area

In [983]:
le = preprocessing.LabelEncoder()

unique_values = np.append(train_df["planning_area"].unique(), 'unknown')
print(unique_values)
# training 
le.fit(unique_values)
train_df["planning_area"] = le.transform(train_df["planning_area"])


# testing
test_df.loc[~test_df["planning_area"].isin(unique_values), 'planning_area'] = 'unknown'
test_df["planning_area"] = le.transform(test_df["planning_area"])

['southern islands' 'novena' 'bedok' 'sembawang' 'bukit batok' 'sengkang'
 'downtown core' 'newton' 'tampines' 'kallang' 'bukit merah'
 'choa chu kang' 'bukit timah' 'outram' 'queenstown' 'river valley'
 'singapore river' 'toa payoh' 'hougang' 'tanglin' 'pasir ris' 'geylang'
 'museum' 'clementi' 'serangoon' 'jurong east' 'orchard' 'yishun'
 'marine parade' 'bukit panjang' 'jurong west' 'ang mo kio' 'rochor'
 'bishan' 'punggol' 'woodlands' 'mandai' 'changi' 'unknown']

#### built_year 

# todo convert to **years since built year**

In [984]:
from datetime import date
  
# creating the date object of today's date
todays_date = date.today()
  
# printing todays date
print("Current date: ", todays_date)
  
# fetching the current year, month and day of today
current_year = todays_date.year
current_month = todays_date.month

print(current_year)

Current date:  2022-03-08
2022

In [985]:
# training
train_df.loc[train_df['built_year'] > 0, 'built_year']= float(current_year) - train_df['built_year']

print(train_df[['built_year']].describe())
train_df = train_df.rename(columns={"built_year": "since_built_year"})


# testing
test_df.loc[test_df['built_year'] > 0, 'built_year']= float(current_year) - test_df['built_year']

print(test_df[['built_year']].describe())

test_df = test_df.rename(columns={"built_year": "since_built_year"})

         built_year
count  26048.000000
mean      24.528140
std       29.916885
min       -1.000000
25%        5.000000
50%        9.000000
75%       37.000000
max      223.000000
        built_year
count  7500.000000
mean     24.822000
std      29.437414
min      -1.000000
25%       6.000000
50%       9.000000
75%      37.000000
max     223.000000

#### date_listed

In [986]:

today = pd.Timestamp(todays_date)


# training

train_df['date_listed'] = today.to_period('M') - train_df['date_listed'].dt.to_period('M')

train_df['date_listed'] = train_df['date_listed'].astype('str')
train_df['date_listed'] = train_df["date_listed"].str.extract("(\d+)").astype("int")

train_df = train_df.rename(columns={"date_listed": "since_listing_month"})


# testing

test_df['date_listed'] = today.to_period('M') - test_df['date_listed'].dt.to_period('M')

test_df['date_listed'] = test_df['date_listed'].astype('str')
test_df['date_listed'] = test_df["date_listed"].str.extract("(\d+)").astype("int")

test_df = test_df.rename(columns={"date_listed": "since_listing_month"})

In [989]:
train_df.to_csv('./data/clean_train.csv')


train_df

,type,model,bedrooms,bathrooms,district,region,planning_area,lat,lng,freehold,since_built_year,no_of_units,area_size,since_listing_month,additional_rooms,price
0,2,1,3,4.0,4,0,32,1.239337,103.837487,0,11.0,151.0,2336.0,10,0,5390000.0
1,1,0,3,3.0,11,0,20,1.319533,103.847030,1,23.0,24.0,1259.0,10,0,2310000.0
2,2,1,4,3.0,11,0,20,1.315656,103.844445,1,10.0,235.0,1959.0,9,0,5279500.0
3,2,1,3,2.0,14,1,1,1.329367,103.905791,1,92.0,237.0,883.0,2,0,1843600.0
4,1,0,3,3.0,15,1,1,1.309176,103.911352,1,6.0,36.0,1066.0,3,0,2262700.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26043,2,1,3,3.0,8,0,15,1.308896,103.863069,0,15.0,600.0,1442.0,3,0,2750000.0
26044,2,1,3,3.0,10,0,34,1.316263,103.825190,1,92.0,17.0,1561.0,2,0,6449300.0
26045,2,1,2,2.0,18,1,33,1.341303,103.953348,0,8.0,301.0,883.0,9,0,1306800.0
26046,2,1,4,3.0,22,4,13,1.335557,103.742417,0,6.0,738.0,1206.0,5,0,2420000.0
26047,1,0,3,4.0,14,0,11,1.309446,103.876929,1,21.0,14.0,1152.0,7,0,1375000.0

In [990]:
test_df = test_df.reset_index(drop=True)
test_df.to_csv('./data/clean_test.csv')
test_df

,type,model,bedrooms,bathrooms,district,region,planning_area,lat,lng,freehold,since_built_year,no_of_units,area_size,since_listing_month,additional_rooms
0,2,1,2,2.0,10,0,6,1.313566,103.803218,1,62.0,638.0,710.0,3,0
1,2,1,3,2.0,15,0,15,1.298437,103.884408,1,6.0,130.0,1055.0,5,0
2,1,0,1,1.0,15,1,1,1.317851,103.908905,1,9.0,157.0,463.0,3,0
3,2,1,2,1.0,17,1,23,1.358005,103.965725,0,92.0,428.0,645.0,3,0
4,2,1,4,6.0,1,0,10,1.277474,103.849419,0,5.0,510.0,6200.0,8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,2,1,1,1.0,3,0,31,1.289610,103.841276,0,23.0,492.0,743.0,3,0
7496,2,1,2,2.0,15,0,15,1.296610,103.867069,0,25.0,737.0,1345.0,4,0
7497,1,0,3,3.0,23,4,3,1.375255,103.757531,0,92.0,74.0,1033.0,2,1
7498,2,1,2,1.0,28,3,29,1.398588,103.874632,0,1.0,735.0,581.0,3,1
7499,2,1,3,5.0,10,0,34,1.298781,103.826677,1,6.0,174.0,2067.0,5,0