
# CS5228 Project - Team not found

In [1]:
# import packages

import numpy as np
import pandas as pd

## Load Data

In [2]:

path = './'

original_train_df = pd.read_csv(path + 'data/train.csv')
original_test_df = pd.read_csv(path + 'data/test.csv')

In [3]:
# duplicate dataset

train_df = original_train_df.copy()
test_df = original_test_df.copy()

In [4]:
print(train_df.shape)
print(test_df.shape)

(26048, 23)
(7500, 22)

In [10]:
train_df.head()
# train_df[train_df['model'].isnull()]

,listing_id,name,street,type,model,market_segment,type_of_area,bedrooms,bathrooms,district,...,lat,lng,tenure,built_year,no_of_units,area_size,eco_category,accessibility,date_listed,price
54,5665357,kopar at newton,8 makeway avenue,apartment,NaN,ocr,strata,4,4.0,9,...,1.312731,103.840806,leasehold/99 years,NaN,378.0,1528.0,uncategorized,guarded,2021-12-18,3848900.0
55,2806568,d'leedon,13 leedon heights,condominium,NaN,ocr,strata,2,1.0,10,...,1.315910,103.803764,leasehold/99 years,2014.0,1715.0,635.0,uncategorized,guarded,2021-12-29,1485000.0
110,2434614,pullman residences newton,dunearn road,apartment,NaN,ocr,strata,3,3.0,11,...,1.314673,103.839011,freehold,NaN,340.0,1163.0,uncategorized,guarded,2021-12-30,3421000.0
221,4115331,whitewater,29 pasir ris street 72,condominium,NaN,ocr,strata,3,3.0,18,...,1.380424,103.935307,leasehold/99 years,2005.0,397.0,1151.0,uncategorized,guarded,2021-12-21,1320000.0
265,4711704,le regal,340 geylang road,apartment,NaN,ocr,strata,1,1.0,14,...,1.312503,103.880368,freehold,2015.0,88.0,366.0,uncategorized,guarded,2021-12-19,676500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25973,6266674,the reef at king’s dock,harbourfront avenue,condominium,NaN,ocr,strata,2,2.0,4,...,1.264931,103.817148,leasehold/99 years,NaN,429.0,980.0,uncategorized,guarded,2021-12-30,2475000.0
26016,7037555,zyanya,8 lorong 25a geylang,apartment,NaN,ocr,strata,4,3.0,14,...,1.313917,103.883271,freehold,NaN,34.0,1313.0,uncategorized,guarded,2022-01-01,2383100.0
26024,4940595,ki residences at brookvale,2 brookvale drive,condominium,NaN,ocr,strata,3,2.0,21,...,1.331029,103.767520,999 years,NaN,660.0,861.0,uncategorized,guarded,2021-12-25,1797400.0
26030,6169039,irwell hill residences,irwell hill,apartment,NaN,ocr,strata,3,2.0,9,...,1.297259,103.831024,leasehold/99 years,NaN,540.0,861.0,uncategorized,guarded,2021-12-31,2640000.0
26038,3320611,meraprime,301 jalan bukit ho swee,condominium,NaN,ocr,strata,3,2.0,3,...,1.287059,103.827788,leasehold/99 years,2006.0,213.0,1119.0,uncategorized,guarded,2021-12-13,2420000.0

In [13]:
print(train_df.dtypes)

listing_id          int64
name               object
street             object
type               object
model              object
market_segment     object
type_of_area       object
bedrooms           object
bathrooms         float64
district            int64
region             object
planning_area      object
subszone           object
lat               float64
lng               float64
tenure             object
built_year        float64
no_of_units       float64
area_size         float64
eco_category       object
accessibility      object
date_listed        object
price             float64
dtype: object

In [24]:
train_df.describe(include = 'all')

count          26048
unique           359
top       2021-10-12
freq            1728
mean             NaN
std              NaN
min              NaN
25%              NaN
50%              NaN
75%              NaN
max              NaN
Name: date_listed, dtype: object

In [17]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26048 entries, 0 to 26047
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   listing_id      26048 non-null  int64
 1   name            26048 non-null  object
 2   street          26048 non-null  object
 3   type            26048 non-null  object
 4   model           24768 non-null  object
 5   market_segment  26048 non-null  object
 6   type_of_area    26048 non-null  object
 7   bedrooms        25644 non-null  object
 8   bathrooms       24812 non-null  float64
 9   district        26048 non-null  int64
 10  region          26048 non-null  object
 11  planning_area   26048 non-null  object
 12  subszone        26048 non-null  object
 13  lat             26048 non-null  float64
 14  lng             26048 non-null  float64
 15  tenure          25761 non-null  object
 16  built_year      16005 non-null  float64
 17  no_of_units     25006 non-null  float64
 18  area_size       26046 non-null  float64
 19  eco_category    26048 non-null  object
 20  accessibility   26048 non-null  object
 21  date_listed     26048 non-null  object
 22  price           26048 non-null  float64
dtypes: float64(7), int64(2), object(14)
memory usage: 4.6+ MB

## Data Cleaning

In [ ]:
# consider KNN imputation or Random Forest Imputation\

# consider auxilary data

# consider macro-economic factors

### Check null value

In [5]:
def compute_null_count(df):
    return np.sum(pd.isnull(df))

compute_null_count(train_df)

listing_id            0
name                  0
street                0
type                  0
model              1280
market_segment        0
type_of_area          0
bedrooms            404
bathrooms          1236
district              0
region                0
planning_area         0
subszone              0
lat                   0
lng                   0
tenure              287
built_year        10043
no_of_units        1042
area_size             2
eco_category          0
accessibility         0
date_listed           0
price                 0
dtype: int64

In [ ]:
# check null in test
compute_null_count(test_df)
# do we also fill in?

In [12]:
train_df[(train_df['model'] != train_df['type'])]

,listing_id,name,street,type,model,market_segment,type_of_area,bedrooms,bathrooms,district,...,lat,lng,tenure,built_year,no_of_units,area_size,eco_category,accessibility,date_listed,price
21,1681309,sol acres,choa chu kang grove,condominium,executive condominium,ocr,strata,1,1.0,23,...,1.376973,103.751272,leasehold/99 years,2018.0,1327.0,570.0,uncategorized,guarded,2021-12-17,768900.0
53,5689201,heron bay,59 upper serangoon view,condominium,executive condominium,ocr,strata,3,2.0,19,...,1.376697,103.903414,leasehold/99 years,2015.0,394.0,1227.0,uncategorized,guarded,2021-04-14,1353000.0
54,5665357,kopar at newton,8 makeway avenue,apartment,NaN,ocr,strata,4,4.0,9,...,1.312731,103.840806,leasehold/99 years,NaN,378.0,1528.0,uncategorized,guarded,2021-12-18,3848900.0
55,2806568,d'leedon,13 leedon heights,condominium,NaN,ocr,strata,2,1.0,10,...,1.315910,103.803764,leasehold/99 years,2014.0,1715.0,635.0,uncategorized,guarded,2021-12-29,1485000.0
79,6007284,provence residence,35 canberra crescent,condominium,executive condominium,ocr,strata,3,3.0,27,...,1.448483,103.827501,leasehold/99 years,NaN,413.0,1044.0,uncategorized,guarded,2021-12-26,1234200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26016,7037555,zyanya,8 lorong 25a geylang,apartment,NaN,ocr,strata,4,3.0,14,...,1.313917,103.883271,freehold,NaN,34.0,1313.0,uncategorized,guarded,2022-01-01,2383100.0
26024,4940595,ki residences at brookvale,2 brookvale drive,condominium,NaN,ocr,strata,3,2.0,21,...,1.331029,103.767520,999 years,NaN,660.0,861.0,uncategorized,guarded,2021-12-25,1797400.0
26030,6169039,irwell hill residences,irwell hill,apartment,NaN,ocr,strata,3,2.0,9,...,1.297259,103.831024,leasehold/99 years,NaN,540.0,861.0,uncategorized,guarded,2021-12-31,2640000.0
26032,9446077,provence residence,37 canberra crescent,condominium,executive condominium,ocr,strata,4,3.0,27,...,1.448282,103.827628,leasehold/99 years,NaN,413.0,1399.0,uncategorized,guarded,2021-12-28,1811700.0
26038,3320611,meraprime,301 jalan bukit ho swee,condominium,NaN,ocr,strata,3,2.0,3,...,1.287059,103.827788,leasehold/99 years,2006.0,213.0,1119.0,uncategorized,guarded,2021-12-13,2420000.0

In [22]:
train_df[( train_df['bathrooms'].notnull()) & (train_df['bathrooms'] % 1 !=0)]
# consider to convert to int

Empty DataFrame
Columns: [listing_id, name, street, type, model, market_segment, type_of_area, bedrooms, bathrooms, district, region, planning_area, subszone, lat, lng, tenure, built_year, no_of_units, area_size, eco_category, accessibility, date_listed, price]
Index: []

[0 rows x 23 columns]

In [41]:
u = train_df[train_df['no_of_units'].isnull()]['name'].unique()
train_df[train_df.name == u[0]]

t = train_df.copy()


t['un'] = t.groupby('name')['built_year'].transform(
    lambda grp: grp.fillna(method='ffill')
)
np.sum(t['un'].isnull())

4353

In [26]:
# convert date listed to date time formatted
pd.to_datetime(train_df['date_listed']).min()

Timestamp('2020-08-19 00:00:00')

In [ ]:
# !!!fill using type

# model
model_counts = train_df['model'].value_counts()

print(model_counts)

# fill null by mode(apartment)
train_df.loc[train_df['model'].isnull(), 'model'] = 'apartment'

In [ ]:
# bedroom
bedroom_counts = train_df['bedrooms'].value_counts()

print(bedroom_counts)


# fill null by mode
train_df.loc[train_df['bedrooms'].isnull(), 'bedrooms'] = 3

In [ ]:
# bathroom
bathroom_counts = train_df['bathrooms'].value_counts()

print(bathroom_counts)


# fill null by mode
train_df.loc[train_df['bathrooms'].isnull(), 'bathrooms'] = 2.

In [ ]:
# tenure
tenure_counts = train_df['tenure'].value_counts()

print(tenure_counts)


# fill null by mode
train_df.loc[train_df['tenure'].isnull(), 'tenure'] = 'leasehold/99 years'

# can try to combine into three categories or 2 categories

In [ ]:
# built_year
# fill null by median
train_df.loc[train_df['built_year'].isnull(), 'built_year'] = train_df['built_year'].median()
# train_df.loc[train_df['built_year'].isnull(), 'built_year']

In [ ]:
# maybe try to fill by area/distrit median? 
# also need to check whether there is null in test
# no_of_units

# fill null by median
train_df.loc[train_df['no_of_units'].isnull(), 'no_of_units'] = train_df['no_of_units'].median()

In [39]:
# group by using 
# area_size

# fill null by median
train_df.loc[train_df['area_size'].isnull(), 'area_size'] = train_df['area_size'].median()

In [ ]:
# check null
compute_null_count(train_df)

### Check duplicates

In [ ]:
np.sum(train_df['listing_id'].duplicated())

### Drop useless columns

In [ ]:
print(train_df['market_segment'].value_counts())
print(train_df['type_of_area'].value_counts())
print(train_df['eco_category'].value_counts())
print(train_df['accessibility'].value_counts())

In [ ]:
to_drop_columns = ['market_segment', 'type_of_area', 'listing_id', 'eco_category', 'accessibility']

train_df = train_df.drop(columns=to_drop_columns)

train_df.shape

In [ ]:
# split categorical and numerical features 

cat_feature_names = [train_df.dtypes.index[i] for i in range(train_df.shape[1]) if train_df.dtypes.values[i] == object]
num_feature_names = [train_df.dtypes.index[i] for i in range(train_df.shape[1]) if train_df.dtypes.values[i] != object]

In [ ]:

def update_link_to_tableau(df):
    """
    Only work for my local enviroment.
    Update train.csv for virsualization.
    """
    tableau_path = './../cs5228-project/cs5228-2021-semester-2-final-project/'
    file_name = 'train.csv'
    df.to_csv(path+file_name)

### Categorical features