
# CS5228 Project - Team not found

In [1]:
# import packages

import numpy as np
import pandas as pd

from src.utils import *

## Load Data

In [2]:

path = './'

original_train_df = pd.read_csv(path + 'data/train.csv')
original_test_df = pd.read_csv(path + 'data/test.csv')

In [3]:
# duplicate dataset

train_df = original_train_df.copy()
test_df = original_test_df.copy()

In [4]:
print(train_df.shape)
print(test_df.shape)

(26048, 23)
(7500, 22)

In [5]:
train_df.head()

,listing_id,name,street,type,model,market_segment,type_of_area,bedrooms,bathrooms,district,...,lat,lng,tenure,built_year,no_of_units,area_size,eco_category,accessibility,date_listed,price
0,6998418,seascape,57 cove way,condominium,condominium,ocr,strata,3,4.0,4,...,1.239337,103.837487,leasehold/99 years,2011.0,151.0,2336.0,uncategorized,guarded,2021-05-04,5390000.0
1,2046604,la maison,10 moulmein rise,apartment,apartment,ocr,strata,3,3.0,11,...,1.319533,103.847030,freehold,1999.0,24.0,1259.0,uncategorized,guarded,2021-05-07,2310000.0
2,7563513,viva,2 suffolk walk,condominium,condominium,ocr,strata,4,3.0,11,...,1.315656,103.844445,freehold,2012.0,235.0,1959.0,uncategorized,guarded,2021-06-30,5279500.0
3,3071445,urban treasures,205 jalan eunos,condominium,condominium,ocr,strata,3,2.0,14,...,1.329367,103.905791,freehold,NaN,237.0,883.0,uncategorized,guarded,2022-01-02,1843600.0
4,9667539,infini at east coast,east coast road,apartment,apartment,ocr,strata,3,3.0,15,...,1.309176,103.911352,freehold,NaN,36.0,1066.0,uncategorized,guarded,2021-12-24,2262700.0

In [6]:
print(train_df.dtypes)

listing_id          int64
name               object
street             object
type               object
model              object
market_segment     object
type_of_area       object
bedrooms           object
bathrooms         float64
district            int64
region             object
planning_area      object
subszone           object
lat               float64
lng               float64
tenure             object
built_year        float64
no_of_units       float64
area_size         float64
eco_category       object
accessibility      object
date_listed        object
price             float64
dtype: object

## Data Cleaning

### Check null value

In [7]:

# combine train and test 

# train_test_df = pd.concat([train_df, test_df], axis=0)

compute_null_count(original_train_df)

listing_id            0
name                  0
street                0
type                  0
model              1280
market_segment        0
type_of_area          0
bedrooms            404
bathrooms          1236
district              0
region                0
planning_area         0
subszone              0
lat                   0
lng                   0
tenure              287
built_year        10043
no_of_units        1042
area_size             2
eco_category          0
accessibility         0
date_listed           0
price                 0
dtype: int64

In [8]:
# compute_null_count(test_df)

In [9]:
# model

# model_counts = train_df['model'].value_counts()
# print(model_counts)

print(compute_null_count(original_train_df, ["model"]))


# fill null with the same property name
train_df = fill_missing_value_by_flags(train_df, "model", "name")
print(compute_null_count(train_df, ["model"]))

# fill null by mode
train_df = fill_missing_value_by_mode(train_df, "model")
print(compute_null_count(train_df, ["model"]))

model    1280
dtype: int64
model    81
dtype: int64
model    0
dtype: int64

In [10]:
# bedroom

# break into bedrooms and additional rooms
print(compute_null_count(train_df, ["bedrooms"]))

# dealing with 4+2 cases



# fill null according to area size

# TODO!!!


# fill null by mode
# train_df.loc[train_df['bedrooms'].isnull(), 'bedrooms'] = 3

bedrooms    404
dtype: int64

In [ ]:
# bathroom
bathroom_counts = train_df['bathrooms'].value_counts()

print(bathroom_counts)


# fill null by mode
train_df.loc[train_df['bathrooms'].isnull(), 'bathrooms'] = 2.

In [ ]:
# tenure
tenure_counts = train_df['tenure'].value_counts()

print(tenure_counts)


# fill null by mode
train_df.loc[train_df['tenure'].isnull(), 'tenure'] = 'leasehold/99 years'

In [ ]:
# built_year
# fill null by median
train_df.loc[train_df['built_year'].isnull(), 'built_year'] = train_df['built_year'].median()

In [ ]:
# no_of_units

# fill null by median
train_df.loc[train_df['no_of_units'].isnull(), 'no_of_units'] = train_df['no_of_units'].median()

In [ ]:
# area_size

# fill null by median
train_df.loc[train_df['area_size'].isnull(), 'area_size'] = train_df['area_size'].median()

In [ ]:
# check null
compute_null_count(train_df)

### Check duplicates

In [ ]:
np.sum(train_df['listing_id'].duplicated())

### Drop useless columns

In [ ]:
print(train_df['market_segment'].value_counts())
print(train_df['type_of_area'].value_counts())
print(train_df['eco_category'].value_counts())
print(train_df['accessibility'].value_counts())

In [ ]:
to_drop_columns = ['market_segment', 'type_of_area', 'listing_id', 'eco_category', 'accessibility']

train_df = train_df.drop(columns=to_drop_columns)

train_df.shape

In [ ]:
# split categorical and numerical features 

cat_feature_names = [train_df.dtypes.index[i] for i in range(train_df.shape[1]) if train_df.dtypes.values[i] == object]
num_feature_names = [train_df.dtypes.index[i] for i in range(train_df.shape[1]) if train_df.dtypes.values[i] != object]

### Categorical features